<% title "Wavetronix #{@product.name} (#{@product.part_number}) Support" %>

<% @download_types.each do |download_type| %>
<% unless @downloads[download_type.id].blank? %>
<h3><%= "#{download_type.name}" %></h3>
<ul>
	<%= render partial: "download", collection: @downloads[download_type.id].sort_by { |d| d.title } %>
</ul>
<% end %>
<% end %>
