/coverage
/log
/tmp
/public/system
/public/uploads
**.orig

config/database.yml

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# Ignore pow environment settings
.powenv
