<% title "A Wavetronix Distributor" %>

<%= image_tag "hero_Home.jpg", alt: "hero", class: "across" %>

<section>
  <p>Wavetronix offers the most accurate and reliable detection products in the traffic industry. SmartSensor products are engineered from the ground up to provide traffic detection that is second to none.</p>
</section>