<% title "A Wavetronix Distributor" %>

<%= image_tag "hero_Home.jpg", alt: "hero", class: "across" %>

<%= link_to "Wavetronix", 'http://www.wavetronix.com', id: "wavetronix-logo", class: "ir", target: "_blank" %>

<div>
  <p>SummitCrest is pleased to announce that we are the official distributor for Wavetronix in Southern California, Illinois, and Wisconsin.</p>

  <p>We provide the complete line of SmartSensor detectors, Click connectivity devices, and Command applications for planning and real-time traffic data management.</p>

  <p>To find out more about how Wavetronix can provide you with the most cost effective and efficient traffic detection, please <%= link_to "contact us", contact_path %>.</p>
</div>
