<% title "About Us" %>
<%= image_tag "hero_AboutUs.jpg", alt: "forest road", class: "across" %>
<section>
	<p>Twincrest Technologies was formed in May 2008 as the distributor for Wavetronix, LLC within the state of Texas. Since then, the company has grown in employees and territory as well as product lines offered. We now cover both Texas and Louisiana and are proud to have formed solid relationships with companies that are proven leaders in their respective markets. Twincrest Technologies desires to be the leading distributor of traffic control products within our market. This begins with quality service for each and every customer we have. Whether you are purchasing one sensor or one thousand, our goal is to provide you the products you need, when you need them, and with responsiveness that cannot be matched.</p>
</section>
