<% title "About Us" %>
<%= image_tag "hero_AboutUs.jpg", alt: "forest road", class: "across" %>
<section>
  <p>SummitCrest is a newly formed company that represents the strengths of two successful Wavetronix Distributors, Summit Traffic Solutions and Twincrest Technologies.</p>
  <p>The leaders of SummitCrest have been directly involved with Wavetronix since the company's beginning over 10 years ago and have been responsible and involved with the deployment, installation and setup of well over 1,000 Wavetronix SmartSensors.</p>
  <p>SummitCrest is excited with the opportunity to represent Wavetronix in Illinois, Wisconsin, and Southern California, and will work with State and local agencies in these territories to provide the most technologically advanced products and support on behalf of Wavetronix.</p>
  <p>SummitCrest will be responsible for all technical support, training and turn-on assistance, and our employees have received extensive Wavetronix Factory Certified training on all the products Wavetronix manufactures.</p>
</section>
<section>
  <h2>Partnerships</h2>
  <p>We are proud to partner with this wonderful organization. I looked forward to this for a long time and am glad we finally closed the deal on this wonderful opportunity.</p>
</section>
