<% title 'Contact Us' %>

<div class="card clearfix">
  <ul>
    <li class="address">
      <h3>Illinois Office</h3>
      <p>
        2516 Waukegan Rd, Suite 214<br />
        Glenview, IL 60025
      </p>
    </li>
    <li class="phone">(224) 235-4474</li>
    <li class="email"><%= mail_to "sales@summit-crest.com", "sales@summit-crest.com", subject: "Website Inqiry" %></li>
  </ul>
  <ul>
    <li class="address">
      <h3>Southern California Office</h3>
      <p>
        33175 Temecula Pkwy, Suite A415<br />
        Temecula, CA 92592
      </p>
    </li>
    <li class="phone">(909) 553-7782</li>
    <li class="email"><%= mail_to "sales@summit-crest.com", "sales@summit-crest.com", subject: "Website Inqiry" %></li>
  </ul>
</div> <!-- .card -->
