<% title 'Contact Us' %>

<div class="card clearfix">
	<ul>
		<li class="address">
			<h3>Headquarters</h3>
			<p>1315 Hwy 1187, Ste 104<br />
			Mansfield, TX 76063</p>
		</li>
		<li class="phone">817-539-2200</li>
		<li class="email"><%= mail_to "sales@twincresttech.com", "sales@twincresttech.com", subject: "Website Inqiry" %></li>
	</ul>
	<ul>
		<li class="address">
			<h3>South Texas Office</h3>
			<p>1736 Summergate<br />
			Conroe, TX 77304</p>
		</li>
		<li class="phone">281-739-5752</li>
	</ul>
</div> <!-- .card -->
