@import "font-awesome-sprockets";
@import "font-awesome";
@import "foundation_and_overrides";
@import "globals/all";

.site-icon {
  height: 100%;
  width: auto;
}

.site-footer {
  color: $aluminum;

  li,
  p {
    font-size: 0.8rem;
  }
}
