@import "foundation_and_overrides";
@import "globals/all";

.off-canvas-wrap,
.inner-wrap {
  min-height: 100%;
}

.off-canvas-wrap {
  height: 100%;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;
}
