<footer class="site-footer">
  <div class="row">
    <div class="medium-6 columns">
      <p>&copy; 2013&ndash;<%= Time.now.year %> SummitCrest, LLC. All rights reserved.</p>
    </div>
    <div class="medium-6 columns text-right">
      <ul class="site-footer-links">
        <li><%= link_to "About Us", nil %></li>
        <li><%= link_to "Contact Us", nil %></li>
      </ul>
    </div>
  </div>
</footer>
