<%= content_tag_for :div, manufacturer do %>
	<%= link_to manufacturer.name, manufacturer, style: "background: transparent url('#{manufacturer.image_url(:thumb).to_s}') 50% 50% no-repeat", class: "#{manufacturer.image_url.present? ? 'ir' : '' }" %>
	<% if current_user %>
	<p class="admin-links">
		<span class="move ir">Move</span>
		<%= link_to 'Edit', edit_manufacturer_path(manufacturer), class: "edit ir" %>
		<%= link_to 'Destroy', manufacturer, class: "delete ir", confirm: 'Are you sure?', method: :delete %>
	</p>
	<% end %>
<% end %>
