<!DOCTYPE html>
<html>
<head>
  <title>Service Unavailable</title>
  <link href='https://s3.amazonaws.com/com.summit-crest.www/stylesheets/fonts.css' rel='stylesheet' type='text/css'>
  <style type="text/css">
    body {
      color: #999;
      font-family: Ubuntu, sans-serif;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #333;
      font-size: 1.25em;
      text-transform: uppercase;
    }

    #message {
      background: white url(https://s3.amazonaws.com/com.summit-crest.www/images/maintenance.jpg) no-repeat 50% 150px;
      margin: 80px auto;
      height: 800px;
      width: 800px;
    }
  </style>
</head>
<body>

  <div id="message">
    <h1>Service Unavailable</h1>
    <p>
      You hate to see this on your roadways, and we're sorry you have to see it here.
    </p>
    <p>
      Summit Crest is currently down for <%= reason ? reason : "maintenance" %>
      as of <%= Time.now.strftime("%H:%M %Z") %>.
      We expect to be back <%= deadline ? deadline : "shortly" %>.
    </p>
    <p>Thank you for your patience.</p>
  </div>

</body>
</html>
